.topics {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.topic {
  background: #fff;
  border: 1px solid lightgray;
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 92vw;
  margin-bottom: 2rem;

  display: flex;
}

.topic-content {
  padding: 2rem 0 0 3rem;
  flex: 0.5;
  text-align: justify;
}

.topic > img {
  flex: 0.5;
  overflow: auto;
}

.topic-content > .heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000000;
}

.topic-content > .content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.topic-content > .readmore {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Roboto";
  color: #0e79bd;
}